# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/xcuserdata/
*.xcuserstate

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# Keep videos and images
!*.mp4
!*.MP4
!*.png
!*.jpg
!*.jpeg

